<p>
    The temperature near Green Hall is {{temperature}} and the wind direction is from {{wind_direction}}°.
</p>

<p>
    The next bus at York and Chapel is arriving {{arriving_in}} on route {{route}}.

<div style="font-size:{{font_size}}pt; margin-left:{{margin}}pt;">

    {{#each phrases}}
    
        <div>
            <span style="display: inline-block; transform: rotate({{../wind_direction}}deg);">
                <a href="/show?id={{id}}">Someone</a> is {{preposition}} {{noun}}
            </span>
        </div>
    
    {{/each}}
    
</div>

<p>
    <a href="/new">Add a phrase</a>
</p>
<p>
    <a href="/about">About this site</a>
</p>

