<p>
    <a href="/new">Add a shape</a>
    &nbsp;&nbsp;
    <a href="/about">About this site</a>
</p>

<p>
    The temperature is {{temperature}} and the wind direction is from {{wind_direction}}°.
</p>

<p>
    The next bus is arriving at {{arrival}} on route {{route}}.
</p>

<div class="shapes">
    
    {{#each shapes}}
        <!--
        MongoDB automatically generates a unique id for every record; it's a special _id property of the record.
        So we can use that to make a link to a page that is just about that specific record.
        -->
        <a href="/show?id={{id}}">
            <div class="shape" style="top:{{top}}%; left:{{left}}%; width:{{width}}%; height:{{height}}%; {{#if color}}background:{{color}};{{/if}}">
            </div>
        </a>
    {{else}}
        Blank canvas
    {{/each}}
    
</div>
