<p>
    <a href="/">Home</a>
</p>

<div class="shapes">
    
    <div class="shape" style="top:{{shape.top}}%; left:{{shape.left}}%; width:{{shape.width}}%; height:{{shape.height}}%; {{#if shape.color}}background:{{shape.color}};{{/if}}">
    </div>

</div>
